<div class="post-info">
    <span>{{ i18n "writtenBy" }}</span>
    <!-- {{- if .Params.Author }}
        {{ .Params.Author }}
    {{- else }}
        {{ .Site.Author.name }}
    {{- end }} -->

    {{- if .PublishDate }}
        <!-- <br> -->
        <span>{{ i18n "on" }}&nbsp;</span><time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
    {{- end }}
</div>
{{ if .Params.tags}}
<div class="post-info">
    <span>
    Tags: 
    
    {{ with .Params.tags}}
    {{ range first 1 . }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{ range after 1 .}}
    , <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
    {{end}}
        
    </span>
</div>
{{end}}
