{{- $image := .Page.Resources.GetMatch .Destination -}}
{{- if not $image -}}
  {{- $image = resources.Get .Destination -}}
{{- end -}}

{{- if $image -}}
  {{ $sorted := sort $image.Colors "Luminance" }}
  {{ $dark  := index $sorted 0 }}
  {{ $light := index (sort $image.Colors "Luminance" "desc") 0 }}

  {{- $colorPalette := slice 
      "000000"
      "954535"
      "BA160C"
      "FF8F00"
      "ffd800"
      "3B5336"
      "4a6b6b"
      "7a8450"
      "567a9d"
      "5d6b8c"
      "6d5d7a"
      "7a5d6d"
      "8c6d6d"
      "fed2b5"
      "ffffff"
  -}}
  
  {{- $opt := dict
    "colors" $colorPalette
    "method" "FalseFloydSteinberg"
    "strength" 1.1
  -}}
  
  {{- $filters := slice
    (images.Process "resize 1200x")
    (images.Dither $opt)
    (images.Process "png")
  -}}
  
  {{- with $image | images.Filter $filters -}}
    {{- if $.Title -}}
    <figure>
    <img src="{{ .RelPermalink }}" 
    style="max-width: 100%; height: auto; border: none;"
    alt="{{ $.PlainText }}">
    <em><figcaption>{{ $.Title }}</figcaption></em>
    </figure>
    {{- else -}}
      <img src="{{ .RelPermalink }}" alt="{{ $.PlainText }}">
    {{- end -}}
  {{- end -}}
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ $.PlainText }}">
{{- end -}}
